NumPy version: 1.23.5
Pandas version: 1.5.3
Seaborn version: 0.12.2
Streamlit version: 1.23.1
matplotlib version: 3.7.0
plotly version: 5.9.0
holoviews version: 1.15.4
streamlit_agraph version: 0.0.45
hydralit_components version: 1.0.10
